<div class="container-fluid p-4">
  <div class="container mb-3">
    <div class="viewer-card">
      <div style="font-weight: bold;">Выберите интервал:</div>
      <div class="row mt-2">
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Левая граница</mat-label>
            <input matInput [matDatepicker]="picker1" [formControl]="selectControlLeftDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Правая граница</mat-label>
            <input matInput [matDatepicker]="picker2" [formControl]="selectControlRightDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  @if (emailSendTask$ | async; as emailSendTasks) {
    @if (loading) {
      <div class="preload text-center">
        <app-loading></app-loading>
      </div>
    }
    @else {
      @if (emailSendTasks?.length) {
        <app-task-table [emailSendTasks]="emailSendTasks" [taskStatus]="taskStatus"></app-task-table>
      }
      @else {
        <div class="preload">
          <h4>Данные отсутствуют</h4>
        </div>
      }
    }
  }

</div>
