<div class="form-group">
    <mat-form-field>
        @if(label) {
            <mat-label>{{label}}</mat-label>
        }
        @if (key) {
            <mat-select 
                #mySelect="ngModel"   
                [(ngModel)]="selectValue" 
                [id]="id" 
                [attr.name]="'el-'+ id" 
                [name]="'el-'+id"
                [required]="required" 
                [disabled]="disabled"
            >
            <mat-option>--</mat-option>
            @for (value of selectValueList; track $index) {
                <mat-option [value]="value">{{value[key]}}</mat-option>
            }
            </mat-select>
            @if (mySelect.errors?.['required'] && mySelect.touched) {
                <mat-error>Пожалуйста, выберите значение.</mat-error>
            }
        }
        @else {
            <mat-select 
                #mySelect="ngModel" 
                [(ngModel)]="selectValue" 
                [id]="id"
                [name]="'el-'+id" 
                [required]="required" 
                [disabled]="disabled"
            >
            <mat-option>--</mat-option>
            @for (value of selectValueList; track $index) {
                <mat-option [value]="value">{{value}}</mat-option>
            }
            </mat-select>
            @if (mySelect.errors?.['required'] && mySelect.touched) {
                <mat-error>Пожалуйста, выберите значение.</mat-error>
            }
        }
    </mat-form-field>
</div>