.btn {
  height: 45px;
}

.accordion-button {
  padding-left: 0;
  background: transparent!important;
  border-color: transparent!important;
  box-shadow: none;
}

.accordion
{
  --bs-accordion-bg:transparent!important;
}

.accordion-button:hover {
  text-decoration: underline;
}
