<div class="form-group">
  <mat-form-field class="w-100">
    @if (label) {
      <mat-label> {{label}}</mat-label>
    }
      <textarea matInput
        #input="ngModel" 
        [id]="id"
        class="textArea"
        [name]="'el-'+id" 
        [attr.name]="'el-'+ id"
        [(ngModel)]="inputValue" 
        [placeholder]="placeholder" 
        [disabled]="disabled"
        [minlength]="minlength" 
        [maxlength]="maxlength" 
        [required]="required"
      >
      </textarea>
    @if (input.errors?.['required'] && input.touched) {
      <mat-error align="start"><strong>Пожалуйста, заполните поле</strong> </mat-error>
    }
    <mat-hint align="end">{{input?.value?.length ?? 0}} / {{maxlength}}</mat-hint>
  </mat-form-field>
</div>