<div class="form-group">
    <mat-form-field class="w-100">
        @if (label) {
            <mat-label>{{label}}</mat-label>
        }
        <input matInput #input="ngModel" 
            [id]="id" 
            [attr.name]="'el-'+ id" 
            [name]="'el-'+ id" 
            [(ngModel)]="inputValue"
            [type]="type"
            [placeholder]="placeholder"
            [disabled]="disabled" 
            [autocomplete]="autocomplete"
            [minlength]="minlength"
            [maxlength]="maxlength"
            [min]="min" 
            [max]="max" 
            [required]="required"
            [pattern]="pattern">
            @if (input.errors?.['required'] && input.touched) {
                <mat-error align="start"><strong>Пожалуйста, заполните поле</strong> </mat-error>
            }
            @if (input.errors?.['pattern'] && input.touched) {
                <mat-hint align="start"><strong>{{patternMessage}}</strong> </mat-hint>
            }
            <mat-hint align="end">{{input?.value?.length ?? 0}} / {{maxlength}}</mat-hint>
    </mat-form-field>
</div>