<div class="container mat-elevation-z4 p-4">
  <form #taskForm="ngForm" name="taskForm" (ngSubmit)="submit(taskForm)">
    <div class="mt-2 mb-2">
      <app-custom-input [disabled]="loading" placeholder="Рассылка 1" [minlength]="1" [maxlength]="256"
        [required]="true" type="text" label="Название рассылки" [(inputValue)]="emailTask.name">
      </app-custom-input>
    </div>
    <div class="mt-2 mb-2">
      <app-custom-input [disabled]="loading" placeholder="Акция - х..." [minlength]="1" [maxlength]="256"
        [required]="true" type="text" label="Заголовок (тема письма)" [(inputValue)]="emailTask.subject">
      </app-custom-input>
    </div>
    <app-alert-danger class="view-error-warning f-16 mb-3 mt-3">
      <div>Загрузите файл в формате CSV. С заголовками Email и если необходимо дополнительными параметрами
        Lschet\Sum\Text.
        Разделитель - ;
      </div>
      <hr>
      <div>Пример:</div>
      <div>Lschet;Email;Sum;Text</div>
      <div> 060000000003;test&commat;mail.ru;12.4;Какой то текст.
      </div>
    </app-alert-danger>
    <div class="mb-3">
      <label for="formFile" class="form-label">Csv файл для отправки</label>
      <input required [disabled]="loading" class="form-control" type="file" id="formFile"
        (change)="onCsvSelected($event)" accept=".csv">
    </div>
    <app-alert-danger class="view-error-warning f-16 mb-3 mt-3">
      <div>Прикрепите html шаблон для отправки в письме.
      </div>
      <div>Что бы данные по лицевому счету или сумме подставились в рассылку необходимо в текст добавить спец символы:
      </div>
      <div><span>&#123;l&#125;</span> - Lschet</div>
      <div><span>&#123;s&#125;</span> - Sum</div>
      <div><span>&#123;t&#125;</span> - Text</div>
    </app-alert-danger>
    <div class="d-flex justify-content-center">
      <button [disabled]="loading" class="btn btn-light" type="button" [routerLink]="'../create-email'">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-plus-square mb-1" viewBox="0 0 16 16">
          <path
            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
        </svg>
        <span class="ml-2"> Создать шаблон </span>
      </button>
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Html файл для отправки</label>
      <input required [disabled]="loading" class="form-control" type="file" id="formFile" accept=".html"
        (change)="onHtmlSelected($event)">
    </div>

    <div class="d-flex justify-content-center gap-4">
      <mat-form-field matTooltip="Для отложенной отправки введите дату, время запуска и запустите задание">
        <mat-label>Дата запуска</mat-label>
        <input matInput name="datepicker" [matDatepicker]="datepicker" [(ngModel)]="emailTask.startDate">
        <mat-datepicker #datepicker/>
        <mat-datepicker-toggle [for]="datepicker" matSuffix/>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Время запуска</mat-label>
        <input matInput
          name="timepicker"
          [matTimepicker]="timepicker"
          [(ngModel)]="emailTask.startDate"
          [ngModelOptions]="{updateOn: 'blur'}">
        <mat-timepicker [interval]="'30 minutes'" #timepicker/>
        <mat-timepicker-toggle [for]="timepicker" matSuffix/>
      </mat-form-field>
    </div>
    
    <div *ngIf="loading" class="d-flex align-items-center justify-content-center" style="gap: 10px;">
      <span><strong>Загрузка данных и создание задания ...</strong></span>
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Загрузка ...</span>
      </div>
    </div>
    <hr>
    <div class="mt-2 mb-2">
      <button [disabled]="loading" class="btn btn-primary w-100" type="submit">Добавить рассылку</button>
    </div>
  </form>
</div>