@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&display=optional";

body {
  margin: 0;
  padding: 0;
  margin: 0;
  background-color: #faf9fd!important;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Arial,
    Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji" !important;
}

.preload {
  min-height: 40svh;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: #7a8186;
}
::-webkit-scrollbar-thumb:hover {
  background: #353535;
}
::-webkit-scrollbar-corner {
  background: #fff;
}

.action-group {
  display: flex;
  gap: 10px;
}

.action-group > button > svg {
  height: auto;
  width: 23px;
}
.action-group > button {
  height: auto;
  width: 30px;
  border: none;
  background: none;
}
.danger {
  color: #cb0013;
}
.danger:hover {
  color: #a01422;
}
.info {
  color: #444444;
}
.info:hover {
  color: #858585;
}
.abort {
  color: #e0bc1a;
}
.abort:hover {
  color: #b99804;
}
.default {
  color: #1a1b1f;
}
.default:hover {
  color: #5059be;
}

.mat-mdc-dialog-container {
  min-width: 40svw !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #f1f1f1 !important;
}

mat-dialog-container {
  min-width: 40svw !important;
}

mat-dialog-content {
  max-height: 80svh !important;
}

.mdc-dialog .mdc-dialog__container {
  --mdc-dialog-container-shape: 10px;
}

.btn-light {
  --bs-btn-bg: #e0e2ec !important;
  --bs-btn-border-color: #e0e2ec !important;
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  justify-content: center;
  align-items: flex-end;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.reload {
  position: absolute;
  right: 5px;
}

.active-menu {
  color: #cccccc;
  box-shadow: inset 0 -1px 0 #cccccc !important;
  border-radius: 0px!important;
}

.sticky-top {
  z-index: 1!important;
}

.fixed-bottom {
  z-index: 1!important;
}

.sidenav{
  border-radius: 0px!important;
  background: #212529!important;
}

.mat-expansion-panel {
  background: #212529!important;
  color: #ffffff!important;
}

.mat-expansion-indicator > svg {
  fill: #ffffff!important;
}

mat-list-item .mdc-list-item__primary-text{
  color: #ffffff!important;
}

.mat-expansion-panel-body .mdc-list-item__primary-text{
  color: #ffffff!important;
} 

.menu-item
{
  padding-left: 1rem!important;
}

.mat-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
}


.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.app-name {
  margin-left: 8px;
  text-decoration: none;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
