.preload {
  min-height: 80svh;
}

.card-service {
  width: 250px;
  height: 250px;
  color: #212529;
  border-radius: 20px;
  cursor: pointer;
  background: #e0e0e0;
  box-shadow: 5px 5px 30px #bebebe,
              -15px -15px 15px #ffffff;
}

.card-service > button
{
  border: 0;
  background: transparent;
}

.card-service:hover {
  font-weight: 800;
  transform: scale(1.03);
  transition: all 50ms ease-out;
  box-shadow: 1px 1px 10px #ff0180,
              -15px -15px 15px #ffffff;
}

.svg-icon
{
  fill: #4d4d4d;
}


.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.catbody {
  width: 80px;
}
.tail {
  position: absolute;
  width: 17px;
  top: 50%;
  animation: tail 0.5s ease-in infinite alternate-reverse;
  transform-origin: top;
}
@keyframes tail {
  0% {
    transform: rotateZ(60deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-20deg);
  }
}
.wall {
  width: 300px;
}
.text {
  display: flex;
  flex-direction: column;
  width: 50px;
  position: absolute;
  margin: 0px 0px 100px 120px;
}
.zzz {
  color: black;
  font-weight: 700;
  font-size: 15px;
  animation: zzz 2s linear infinite;
}
.bigzzz {
  color: black;
  font-weight: 700;
  font-size: 25px;
  margin-left: 10px;
  animation: zzz 2.3s linear infinite;
}
@keyframes zzz {
  0% {
    color: transparent;
  }
  50% {
    color: black;
  }
  100% {
    color: transparent;
  }
}
