table {
    width: 100%;
    background-color: #ffffff;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

#selected {
    background-color: #eaeaea;
}