table {
    width: 100%;
    background-color: #ffffff;
}
tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

#selected {
    background-color: #eaeaea;
}

.action-group
{
    display: flex;
    gap: 10px;
}
.action-group>button>svg
{
    height: auto;
    width: 23px;
}
.action-group>button
{
    height: auto;
    width: 30px;
    border: none;
    background: none;
}
.danger
{
    color: #cb0013;
}
.danger:hover
{
    color: #a01422;
}
.info
{
    color: #444444;
}
.info:hover
{
    color: #858585;
}
.abort{
    color: #e0bc1a;
}
.abort:hover{
    color: #b99804;
}
.default
{
    color: #1a1b1f;
}
.default:hover
{
    color: #5059be;
}