.viewport {
  height: 70svh;
  width: 100%;
}

.preload {
  min-height: 20svh;
}

.table {
  width: 100%;
  min-height: 20svh;
}

.loading-shade {
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-5 {
  min-height: 30svh;
}

.page-10 {
  min-height: 40svh;
}
.page-25 {
  min-height: 70svh;
}
.page-100 {
  min-height: 90svh;
}

.rate-limit-reached {
  width: 100%;
  min-height: 30svh;
  text-align: center;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
  display: inline-flex;
  min-width: 100%;
}

.table-hover:hover {
  cursor: pointer;
  color: #f6fbff;
  background-color: #2196f3;
}

#blue {
  background-color: #007bff;
  color: aliceblue;
}

#grey {
  background-color: #636363;
  color: aliceblue;
}

.color-blue {
  color: #007bff;
}
.color-green {
  color: #0e7e13;
}
.color-red {
  color: #dc3545;
}

.mat-column-fullTheme {
  min-width: 350px;
}

.hidden {
  display: none;
  visibility: hidden;
}

.mat-mdc-table
{
    background-color: #ffffff!important;
}